body {
  color: var(--black);
}
*:focus {
  outline: none;
}
input:focus, select:focus, textarea:focus {
  outline-color: var(--silver);
  outline-width: var(--border-width);
  outline-style: solid;
}
a {
  color: var(--blue);
  border-bottom-color: var(--blue);
}
button,
input,
textarea,
select {
  -webkit-appearance: none;
  background-color: var(--white);
  color: var(--black);
  border-color: var(--border-color);
}
input[type=checkbox]{ -webkit-appearance: checkbox; }
input[type=radio] { -webkit-appearance: radio; }
a, button, select, summary {
  cursor: pointer;
}
a:hover {
  color: var(--navy);
  border-color: var(--navy);
}
select, button, summary {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}
select:hover, button:hover, summary:hover {
  background-color: var(--aqua);
  color: var(--navy);
  border-color: var(--aqua);
}
select:active, button:active, details[open], details[open] summary {
  background-color: var(--navy);
  color: var(--white);
  border-color: transparent;
}
th:nth-child(odd), td:nth-child(odd) {
  background-color: var(--smoke);
}
