body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--normal);
  line-height: calc(var(--font-size) + .5);
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-weight: var(--bold);
  text-decoration: none;
}
h1 {
  font-size: var(--h1-font-size);
  line-height: calc(var(--h1-font-size) + .25);
}
h2 {
  font-size: var(--h2-font-size);
  line-height: calc(var(--h2-font-size) + .25);
}
h3 {
  font-size: var(--h2-font-size);
  line-height: calc(var(--h2-font-size) + .25);
}
h4 {
  font-size: var(--h4-font-size);
  line-height: calc(var(--h4-font-size) + .25);
}
h5 {
  font-size: var(--h5-font-size);
  line-height: calc(var(--h5-font-size) + .25);
}
h6 {
  font-size: var(--h6-font-size);
  line-height: calc(var(--h6-font-size) + .25);
}
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--bold);
  line-height: inherit;

  vertical-align: baseline;
}
td {
  text-align: center;
}
