:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-size: 1rem;
  /* Thanks to https://github.com/basscss */
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
  --h5-font-size: .875rem;
  --h6-font-size: .75rem;
  --bold: 400;
  --normal: 300;

  /* Space */
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  /* Colors from https://github.com/mrmrs/colors */
  --aqua:  #7FDBFF;
  --blue:  #0074D9;
  --navy:  #001F3F;
  --teal:  #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime:  #01FF70;

  --yellow:  #FFDC00;
  --orange:  #FF851B;
  --red:     #FF4136;
  --fuchsia: #F012BE;
  --purple:  #B10DC9;
  --maroon:  #85144B;

  --white:  #FFFFFF;
  --smoke:  #F5F5F5;
  --silver: #DDDDDD;
  --gray:   #AAAAAA;
  --black:  #111111;

  /* Border */
  --border-style: solid;
  --border-width: 0.125rem;
  --border-radius: 0.125rem;
  --border-color: var(--smoke);

  /* Size */
  --content-max-width: 54rem;
}
